/* <!-- 
    <style>

         

        .iconsLabel {
            text-decoration: none;
        }

        .list-icon {
            list-style-type: none;
        }

        .logo {
            width: 100px;
            height: 100px;
        }

        .items {
            width: 300px;
            padding: 30px;
            border: 3px solid gainsboro;
            border-radius: 10px;
        }

        .label {
            text-decoration: none;
        } -->

      
    <!-- </style> --> */